p,
h1 {
    color: pink;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {

    display: block;
    padding: 8px;
  background-color: #dddddd;
}

body {
    font-family: 'Roboto',
        sans-serif;
}

.Tableau {

    color: blue;

}

.maClasse {

    color: red;
}

section {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    display: block;
  background-color: #dddddd;

}
